.form__title {
    font-family: $fontSecondary;
    font-size: 22px;
    font-weight: 600;
    color: $colorDark;
    margin-bottom: 48px;
    line-height: 1.3em;
    position: relative;
}
.form__title::before {
    content: "";
    background: url("../../img/circle.svg") no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    left: -109px;
    top: 56px;
}
.form__select{
    width: 220px;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    padding-left: 31px;
    margin-bottom: 35px;
    font-family: $fontSecondary;
    font-size: 15px;
    font-weight: 400;
    color: #4A4C53;
    background-color: $colorWhite;    
    }

