@import "../lib/variables.scss";
.hero-row {
    position: relative;
}
.hero__heading {
    font-family: $fontHeading;
    font-size: 64px;
    font-weight: bold;
    color: $colorDark;
    margin-bottom: 74px;
    line-height: 1.3em;
    position: relative;
}
.hero__heading::after {
    content: "";
    background: url("../../img/plus.svg") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: -112px;
    top: 15px;
}
