 @import "../lib/variables.scss";
 .main__article {
     margin-top: 286px;
 }
 .article__illustration{
     width: 659px;
     height: 534px;
     margin-left: -75px;
     position: relative;
 }
 
.article__info {
    margin-top: 90px;
    position: relative;
}
.article__info::before {
    content: "";
    background: url("../../img/plus.svg") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 495px;
    bottom: 535px;
}
.article__info::after {
    content: "";
    background: url("../../img/circle.svg") no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 134px;
    bottom: 160px;
}
.info__title {
    margin-bottom: 20px;
}
.info__text {
    margin-bottom: 33px;
    padding: 0;
    font-family: $fontPrimary;
    font-size: 17px;
    font-weight: 400;
}
.info__link {
    text-decoration: none;
    color: $colorWhite;
}
